{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "babel-plugin-react-css-modules",
      {
        "generateScopedName": "[name]__[local]",
        "webpackHotModuleReloading": true,
        "handleMissingStyleName": "warn"
      }
    ],
    "babel-plugin-jsx-control-statements",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    [
      "babel-plugin-module-resolver",
      {
        "alias": {
          "#features": "./src/features",
          "#stores": "./src/stores",
          "#utilities": "./src/utilities",
          "#services": "./src/services",
          "#components": "./src/components",
          "#assets": "./src/assets",
          "#pages": "./src/pages",
          "#consts": "./src/consts"
        }
      }
    ]
  ]
}
