.EditableText {
  resize: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  user-select: none;
  white-space: pre-line;
  padding: 16px;
}

textarea.EditableText {
  cursor: text;
  box-shadow: 0 0 0 0 rgba(255, 137, 6, 0.2);
  outline: 3px dashed rgba(167, 169, 190, 0.35);
  outline-offset: 10px;
  animation: backgroundPulse 2s infinite;
}

@keyframes backgroundPulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 137, 6, 0.2);
    outline: 3px dashed rgba(167, 169, 190, 0.55);
  }
  50% {
    box-shadow: 0 0 0 16px rgba(255, 137, 6, 0);
    outline: 3px dashed rgba(255, 137, 6, 0.7);
  }

  80% {
    outline: 3px dashed rgba(167, 169, 190, 0.55);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 137, 6, 0);
    outline: 3px dashed rgba(167, 169, 190, 0.55);
  }
}
