.EditableText {
  resize: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  user-select: none;
  white-space: pre-line;
}

.EditableText:focus {
  outline: 2px solid rgba(167, 169, 190, 0.15);
  box-shadow: 0 0 0 0 rgba(229, 49, 112, 0.1);
  animation: backgroundPulse 2s infinite;
}

@keyframes backgroundPulse {
  0% {
    outline: 2px solid rgba(167, 169, 190, 0.2);
    box-shadow: 0 0 0 0 rgba(229, 49, 112, 0.1);
  }
  50% {
    box-shadow: 0 0 0 16px rgba(229, 49, 112, 0);
    outline: 2px solid rgba(229, 49, 112, 0.25);
  }

  80% {
    outline: 2px solid rgba(167, 169, 190, 0.25);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(229, 49, 112, 0);
    outline: 2px solid rgba(167, 169, 190, 0.25);
  }
}
