.PanZoom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #f2f2f2;
  overflow: hidden;
  display: flex;
}

.Canvas {
  width: 816;
  height: 1056;
  /* min-width: calc(2550px / 5);
  min-height: calc(3300px / 5); */
  border: 1px solid #333;
  background: white;
}
