@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i|Work+Sans:200,300,400,500,600,700,800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

:root {
  /* Accent colors for light or dark theme. */
  --highlight: #ff8906;
  --secondary: #f25f4c;
  --tertiary: #e53170;

  --danger: #f02c2c;

  /* Dark theme. */
  --night-white: #fffffe;
  --night-black: #0f0e17;
  --night-purple0: #1f1d30;
  --night-black1: #1a1825;
  --night-black2: #252331;
  --night-gray: #a7a9be;

  --day-gray: #ececed;
  /* --gray: #e9e9ea; */

  --backgroundColor: #eff0f3;
  --headingColor: #0d0d0d;

  --boxShadow0: 0 1px 2px rgba(0, 0, 0, 0.125), 0 2px 4px rgba(0, 0, 0, 0.125),
    0 4px 8px rgba(0, 0, 0, 0.125), 0 8px 16px rgba(0, 0, 0, 0.125);

  --paneTransform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
    rotateZ(0deg) skew(0deg, 0deg);

  --mainFont: 'Work Sans', sans-serif;
  --monoFont: 'Space Mono', monospace;

  --dark0: #12011d;
  --white: #fff;
  --mainPurple: #7416ca;
  --editorBackgroundColor: #f4f4f4;
  --whiteBorderColor: #d8cfde;

  --mainTextColor: #12011d;
  --subTextColor: #695f6f;
}

body {
  font-family: var(--mainFont);
}

h1,
h2,
h3,
h4 {
  font-family: var(--monoFont);
}

p {
  font-weight: 400;
  font-family: var(--mainFont);
  line-height: 150%;
  letter-spacing: 0.5px;
  font-size: 16px;
}

::-webkit-scrollbar {
  background: transparent;
  width: 12px;
  margin-right: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin-right: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--night-black2);
  margin-right: 2px;
}

.PowerSelect {
  border: none;
  border-radius: 4px;
  background: transparent !important;
}

.PowerSelect--open .PowerSelect__Trigger {
  border-bottom: 1px solid var(--night-black);
}

.PowerSelect__Option {
  padding-left: 12px;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-family: var(--mainFont);
  color: var(--night-gray);
}

.PowerSelect__Option--highlighted {
  background: var(--night-black2);
  color: var(--night-white);
}

.PowerSelect__Tether {
  z-index: 500;
}

.PowerSelect__Menu {
  /* background: var(--night-black2) !important; */
  background: #393747 !important;
  box-shadow: 0px 1px 8px -2px rgba(0, 0, 0, 0.125);
  border: none;
}

.PowerSelect__Option:not(.PowerSelect__Option--disabled):hover {
  background: var(--night-black2);
  color: var(--night-white);
}

.PowerSelect__SearchInput {
  background: transparent;
  color: var(--night-white);
  background: var(--night-gray);
  border: 1px solid #2a2839;
}

.PowerSelect--focused {
  border: none;
}

.PowerSelect__Trigger {
  margin-top: 6px;
  background: var(--night-black2);
  border-radius: 3px;
}

.PowerSelect__TriggerLabel {
  padding-left: 12px;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-family: var(--mainFont);
  color: var(--night-white);
}

.PowerSelect__Options {
  margin-top: 2px;
}

.SelectedCanvasLayer {
  outline: 2px solid var(--highlight);
}
